[package]
name = "simulator"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait = "0.1.89"
bytes = "1.11.0"
rand = "0.9.2"
tokio = { version = "1.48.0", features = ["rt", "time"] }
tracing = "0.1.41"
uuid = "1.18.1"
